.wrapper{
    color: white;
    width: 100%;
    min-height: 150vh;
    position: relative;
    z-index: 1;
}
.backgrounds{               /* parent div for the background layer */
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.SponsorBack{
    width: 100%;
    height: 100%;
    background-color: #181414;
}
.FaqBack{
    height: 100%;
    width: 200%;
    position: absolute;
    top: 18%;
    left: -50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: -moz-linear-gradient(40deg, rgba(255,192,137,1) 10%, rgba(248,207,171,1) 45%, rgba(194,139,255,1) 76%, rgba(140,88,252,1) 100%);
    background: -webkit-linear-gradient(40deg, rgba(255,192,137,1) 10%, rgba(248,207,171,1) 45%, rgba(194,139,255,1) 76%, rgba(140,88,252,1) 100%);
    background: linear-gradient(40deg, rgba(255,192,137,1) 10%, rgba(248,207,171,1) 45%, rgba(194,139,255,1) 76%, rgba(140,88,252,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc089",endColorstr="#8c58fc",GradientType=1);
}
/* Content */
.sponsor{
    height: 20%;
    font-family: var(--coming);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.sponsor p{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2em;
}
.sponsor button{
    font-size: 1.2em;
    text-transform: none;
    margin-top: 1em;
}
.contacts{
    height: 80%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 23%;
    margin-bottom: 22.5%;
}
.faq{
    padding-top: 12%;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
}
.faq span{
    font-size: 6.5em;
    font-family: var(--title);
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000,
                 -1px 1px 0 #000000, 1px 1px 0 #000000;
    color: #c48dfc;   
}
.subtitle{
    color: var(--black);
    font-family: var(--coming);
    font-size: 2em;    
    font-weight: 500;
    text-align: center;
    margin: 1rem 0 1rem 0;
}



.chat{
    margin-top: 3.5rem;  
    padding: .95rem; 
    font-family: var(--coming);
    font-size: larger;
}
.chatW{
    color: var(--black);
    font-weight: 600;
    text-align: center;
    background-color: var(--white);
    padding: 4% 5.5% 4% 5.5%;
    margin-bottom: 1.2rem;
    border: 1px solid var(--black);
    border-radius: 5rem;
    border-bottom-right-radius: 0;
    box-shadow: 0.05rem 0.1rem 0.3rem var(--black);
}
.chatB{
    color: var(--white);
    text-align: left;
    background-color: var(--black);
    padding: 5% 6% 5% 6%;
    margin-bottom: 1.2rem;
    border: 1px solid var(--black);
    border-radius: 3rem;
    border-top-left-radius: 0;
    box-shadow: 0.05rem 0.1rem 0.3rem var(--black);
}
/* medium to large screens */
@media screen and (min-width: 540px){
    .sponsor{
        padding: 0;
    }
    .sponsor p{
        font-size: 2rem;
    }
    .sponsor button{
        font-size: 1.5em;
    }
    .chatB{
        padding: 4% 5.5% 4% 5.5%;
    }
}
@media screen and (min-width: 768px){
    .FaqBack{
        top: 25rem;
    }
    .sponsor p{
        font-size: 3rem;
    }
    .sponsor button{
        font-size: 2.5em;
        margin-top: 0.01em;
    }
    .contacts{
        width: 90%;
        margin: 35% auto 30%;
    }
    .faq{
        padding-top: 0;
    }
    .faq span{
        font-size: 9.8em;
    }
    .subtitle{
        font-size: 3.5rem;  
    }
    .faq button{
        font-size: 2.5em;
        width: 9.45em;
    }
    .chat{
        font-size: 2em;
    }
    .chatW{
        margin-bottom: 1.5rem;
    }
    .chatB{
        margin-bottom: 1.5rem;
    }
}

/* large screens */
@media screen and (min-width: 1024px) and (max-height: 1080px){
    .wrapper{
        min-height: 67vw;
    }
    .FaqBack{
        top: 15rem;
    }
    .sponsor p{
        font-size: 2rem;
    }
    .sponsor button{
        font-size: 1.5em;
    }
    .contacts{
        width: 100%;
        margin: 8% 0 3% 0;
        padding: 2em;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .faq{
        align-items: flex-start;
        justify-content: center; 
    }
    .faq span{
        font-size: 6rem;  
        color: #f8cfab;   
    }
    .subtitle{
        font-size: 2.5rem;  
        text-align: left;
    }
    .faq button{
        font-size: 1.5em;
        width:fit-content;
    }
    .chat{
        font-size: 1.2rem; 
        width: 50%;
        padding: 0;
    }
    .chatW{
        margin-left: 40%;
        margin-bottom: 1.2rem;
        padding: 0.9em 1em 0.9em 1em;
        border-bottom-right-radius: 0;
    }
    .chatB{
        margin-right: 35%;
        margin-bottom: 1.2rem;
        padding: 0.9em 1em 0.9em 1em;
        border-top-left-radius: 0;
    }
}