.btnh {
    font: inherit;
    font-size: 1.25em;
    text-transform: uppercase;
    padding: 0.75em;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    position: absolute;
    box-shadow: 0.5em 0.5em rgb(255, 255, 255);
    transition: all 0.25s ease-in-out;
    border: 1px rgb(255, 255, 255) solid;
}
.btnh:hover {
    box-shadow: 0.25em 0.25em rgb(255, 255, 255);
    transform: translate(0.25em, 0.25em);
}
