.borderwrap{
    margin-bottom: 10%;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: auto;
    margin-right: 0%;
    transition: all 0.3s ease-in-out;
    display: inline-block;
  }
  .wrapper{  
    position: relative;
    height: 150%;
    width: 100%;
    padding: 2px;
    background: rgb(172,95,249);
    background: linear-gradient(180deg, rgba(172,95,249,1) 0%, rgba(230,201,149,1) 79%);
    transition: all 0.3s;
  }
  
  .daycards{
    padding: 5px;
    padding-left: 10%;
    background-color: black;
    color: white;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    font-family: var(--title);
  }

  .dayHeading{
    font-size: 4rem;
  }
  
  .inner{
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgb(172,95,249);
    background: linear-gradient(180deg, rgba(172,95,249,1) 0%, rgba(230,201,149,1) 79%); 
  }
  .active {
    transform: translate(-5px,-10px);
    transition: 300ms;
   }