.eventcard{
    cursor: pointer;
    border: 1px;
    border-color: var(--white);
    background-color: black;
    margin-bottom: 10%;
    color: white;
    width: 100%;
  }
  .eventname{
    margin: 2%;
    margin-bottom: 8%;
    padding-left: 5%;
    font-family: var(--title);
    font-size: 2.5rem;
  }
  .eventtime{
    margin: 2%;
    margin-top: 1%;
    padding-left: 5%;
    font-family: var(--title);
      font-size: 1.75rem;
  }
  .eventcard:hover{
    background-image: linear-gradient(
      to right,
      hsl(32, 100%, 73%),
      hsl(290, 75%, 69%)
      
    );
    color: black;
   }
   @media screen and (max-width: 900px) {
    
    .eventcard{
      margin-bottom: 3%;
    }
  }