.speaker{
    display: flex;
    /* border:2px solid red; */
}
 
.speaker .image img{
    width: min(15rem, 30vw);
    height: min(20rem, 50vh);
    object-position: 50% 50%;
    object-fit: cover;

    border-radius: 10rem 10rem 0 0 ;
}
.speaker .info{
    position:relative;

    display: flex;
    flex-direction: column;
    justify-content:  center;
    gap:2rem;
    
    padding: .5rem;
    padding-left:2rem; 
}
.speaker .info .name{
    flex-grow: 1;
    font-size: clamp(1.8rem, 10vw, 4.5rem);
    font-weight: 400;
    text-transform: capitalize;
}
.speaker .info .about{
    flex-grow: 2;
    font-size: clamp(.8rem, 2vw, 1rem);
    font-weight: 500;
    text-transform: capitalize;
}
.speaker .info .timing{
    flex-grow: 5;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: min(.2rem, 5%);
   
    width:max-content;
    font-size: clamp(1rem, 5vw, 2.2rem);
    font-weight: 400;
    text-transform: capitalize;
}
.speaker .info .timing::after{
    content:'';
    position:absolute;
    bottom:0;
    width:100%;
    height:.5rem;
    background: linear-gradient(
        135deg,
        var(--p1),
        var(--p3)
    );
}

@media (min-width:1200px) and (max-width:1600px){
    .speaker .info .name{
        font-size: clamp(3rem, 4.5vw, 4.5rem);
        text-transform: capitalize;
    }
    .speaker .info{
        padding-right:1rem;
    }
    .speaker .image img{
        width: min(12rem, 30vw);
        height: min(18rem, 50vh);
    }
 
    .speaker .info .about{
        flex-grow: 0;
    }
}
@media (min-width:610px) and (max-width:1200px){
    .speaker .info .name{
        font-size: clamp(3rem, 5.5vw, 4.5rem);
        font-weight: 400;
        text-transform: capitalize;
    }
   
}
@media (max-width:600px){
    .speaker .info .name{
        font-size: clamp(1.8rem, 8vw, 4.5rem);
        font-weight: 400;
        text-transform: capitalize;
    }
    .speaker .image img{
        width: min(15rem, 40vw);
        height: min(15rem, 40vh);
    }
    .speaker .info{ 
        gap:1.5rem; 
        padding: .5rem;
        padding-left:1.2rem; 
    }
}
@media (max-width:460px){
     
    .speaker .info{
        gap:1rem; 
        padding-left:1rem; 
    }
}
@media (max-width:320px){
    .speaker .image img{
        height: min(15rem, 30vh);
    }
     
}
@media (max-width:300px){
    .speaker .image img{
        width: min(15rem, 30vw);
        height: min(15rem, 30vh);
        padding-left: .5rem;
       
    }
}