.home {
    background-color: var(--black);
    height: 100%;
    width: 100%;
    padding: 0 0.5rem;
}

.navBar {
    height: 15vh;
    padding: 0 1rem;
}
.logo {
    color: var(--white);
    font-family: var(--coming);
    font-size: 2rem;
}

.main {
    text-align: center;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.maintxt {
    font-family: var(--coming);
    font-size: 5rem;
    font-weight: 900;
    background: -webkit-linear-gradient(
        0deg,
        rgba(140, 88, 252, 1),
        rgba(193.85, 138.52, 255, 1) 26%,
        rgba(255, 191.87, 137.46, 1) 67%,
        rgba(255, 191.87, 137.46, 0.2)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.innerTextDiv {
    padding: 0rem 5%;
    text-align: center;
    flex: 1;
    flex-direction: column;
}

.txt {
    color: var(--white);
    font-size: 1.4em;
    font-family: var(--coming);
    font-weight: 500;
}

.footer {
    position: absolute;
    bottom: 0px;
    right: 2em;
    display: flex;
}

.link,
.insta,
.web {
    color: grey;
    font-family: var(--title);
    font-size: 1rem;
    cursor: pointer;
}

.insta:hover,
.web:hover {
    color: var(--white);
}

/* ------------- */

.btnh {
    font: inherit;
    font-size: 1.25em;
    text-transform: uppercase;
    padding: 0.75em;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    /* position: absolute; */
    box-shadow: 0.3em 0.3em rgb(255, 255, 255);
    transition: all 0.25s ease-in-out;
    border: 1px rgb(255, 255, 255) solid;
    margin-top: 2rem;
}
.btnh:hover {
    box-shadow: 0.2em 0.2em rgb(255, 255, 255);
    transform: translate(0.13em, 0.13em);
}
.btndiv {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
