.footer {
    background-color: #000;
    color: #fff;
    font-family: var(--coming);
}
.footerUpper {
    display: grid;
    grid-template-columns: 65% 35%;
    padding: 2%;
    border-bottom: gray solid 1px;
}
.footerLower {
    text-align: center;
    padding-bottom: 0.5%;
}
.icons {
    margin-left: 0%;
    margin-right: 10px;
    text-align: right;
    padding-right: 0px;
}
.icons li {
    margin-left: 2.25vw;
    display: inline;
    font-size: 1.5rem;
    color: grey;
}
.icons li:hover {
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.logo img {
    width: 350px;
    object-fit: cover;
}
@media (max-width: 1335px) {
    .footerUpper {
        grid-template-columns: 50% 50%;
    }
    .icons li {
        margin-left: 1.9vw;
    }
}
@media (max-width: 900px) {
    .icons li {
        margin-left: 1.5vw;
    }
}
@media (max-width: 635px) {
    .logo {
        text-align: center;
    }
    .icons {
        display: flex;
        justify-content: center;
        padding-left: 0;
        margin-left: -0.7em;
    }
    .icons li {
        text-align: center;
        font-size: 1.5rem;
        margin-left: 0;
        margin-right: 5vw;
    }
    .logo img {
        width: 250px;
        margin-bottom: 2%;
    }
    .footerUpper {
        grid-template-columns: 100%;
    }
}

/* Keeping the icons centered at widths 430px and below as it keeps moving */
@media (max-width: 430px) {
    .icons {
        margin-left: -1.35em;
    }
}

/* Galaxy fold alignment is the media query below */
@media (max-width: 335px) {
    .icons li {
        font-size: 1.225rem;
    }
}

@media (max-height: 600px) {
    .logo img {
        width: 15.625em;
    }
    .icons li {
        font-size: 1.5rem;
    }
}
