@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.footer {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.footerUpper {
    display: grid;
    grid-template-columns: 75% 25%;
    padding: 2%;
}
.footerLower {
    text-align: center;
    padding-bottom: 0.5%;
}
.icons li {
    display: inline;
    margin-left: 10%;
    font-size: 2.5vh;
    color: grey;
}
.icons li:hover {
    color: #fff;
    cursor: pointer;
}
.logo img {
    width: 350px;
    object-fit: cover;
}

@media (max-width: 600px) {
    .logo {
        text-align: center;
    }
    .icons li {
        font-size: 2vh;
    }
    .logo img {
        width: 250px;
        margin-bottom: 2%;
    }
    .footerUpper {
        grid-template-columns: 100%;
    }
}
