.container {
    background-color: transparent;
    color: var(--white);
    text-align: center;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10% 0;
    align-items: center;
    border-radius: 1%;
}

.profile_img {
    height: 280px;
    width: 70%;
    object-fit: cover;
    background-size: cover;
    /* background-image: url(https://images.unsplash.com/photo-1497316730643-415fac54a2af?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1900&q=80); */
}
.content_container {
    /* background-color: red; */
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5%;
}
.name {
    font-family: 'Galano Grotesque Alt', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}
.role {
    font-family: 'Galano Grotesque Alt', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 96.5%, 0.8);
    font-family: 'Rational TW Text', sans-serif;
    font-size: 1rem;
    margin-top: 5%;
    /* background-color: red; */
}
.container:hover .profile_img {
    width: 50%;
    height: 250px;
    /* background-image: url(https://c.tenor.com/DHGvsLhTOowAAAAC/meme-pikachu.gif); */
}
.social_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    margin-top: 5%;
    opacity: 0;
    transition: opacity 1s ease;
    color: var(--black);
}
.container:hover .social_container {
    opacity: 1;
}
.container:hover {
    background-color: var(--white);
    color: var(--black);
    /* border: 5px solid #8c58fc; */
}
.container:hover .role {
    color: var(--black);
    /* border: 5px solid #8c58fc; */
}
@media screen and (max-width: 300px) {
    .name {
        font-size: 1rem;
    }
    .role {
        font-size: 0.75rem;
    }
}
