@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Montserrat&display=swap');
.container {
    justify-self: flex-start;
    padding-left: 3.1%;
    padding-top: 8.5%;
    display: grid;
    width: 100%;
    grid-template-columns: 66% 34%;
}
.Heading {
    color: var(--white);
}
.Heading h1 {
    font-family: var(--title);
    font-size: 4.75rem;
    font-weight: 400;
    letter-spacing: -3px;
    margin-bottom: 0px;
    
}
.Heading p {
    
  
    border-width: 3.75px;
    border-style: solid; 
    border-right: 0;
    
    border-image: 
        linear-gradient(
        to bottom, 
        var(--linearg1),
        var(--linearg2)
        ) 1 50%;
    font-family: var(--coming), sans-serif;
    
    font-weight: 500;
    font-size: 1.75rem;
    padding-left: 0.25em;
    width: 80%;
}
.image img {
    width: 22.5rem;
    height: 22.5rem;
    
}
.image {
    margin-top: 15%;
}
@media (max-width: 1250px) {
    .Heading h1
    {
        font-size: 4.5rem;
    }
}
@media (max-width: 1200px) {
    .container {
        grid-template-columns: 50% 50%;
        margin-top: 10%;
        justify-items: center;
        align-items: center;
        width: 100%;
    }
    .Heading h1 {
        font-size: 3.5rem;
    }
}
@media (max-width: 1040px) {
    .container {
        margin-top: 10%;
    }
    .Heading h1 {
        font-size: 2.5em;
    }
    .Heading p {
        width: 100%;
        font-size: 18px;
    }
    .image img {
        width: 18rem;
        height: 19.2rem;
    }
}
@media (max-width: 705px) {
    .container {
        grid-template-columns: 100%;
        margin-top: 15%;
        justify-items: center;
        align-items: center;
        text-align: center;
    }
    .image {
        display: flex;
        padding: 0px;
    }
    .Heading h1 {
        font-size: 2em;
    }
    .Heading p {
        width: 100%;
        font-size: 17px;
    }
    .image img {
        width: 16rem;
        height: 17.2rem;
    }
}

@media (max-width: 350px) {
    .Heading h1 {
        font-size: 2em;
    }
    .Heading p {
        width: 100%;
        font-size: 15px;
    }
    .image img {
        width: 14rem;
        height: 16rem;
    }
}
