.Evecont {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 3.1%;
    flex-direction: column;
    position: relative;
    margin-top: 8%;
    margin-bottom: 4.5%;
}

.Evecont > p {
    margin-top: 2%;
    margin-bottom: 1%;
    padding-right: 15%;
}

.hdn1 {
    font-family: var(--title);
    text-transform: capitalize;
    background: linear-gradient(to bottom, var(--linearg1), var(--linearg2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: normal;
    font-style: normal;
    line-height: 87px;
    font-size: 70px;
    letter-spacing: -0.032em;
}

.hdn2 {
    font-family: var(--coming);
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.017em;
    color: #ffffff;
}

.desc {
    font-family: var(--coming);
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.017em;
    color: #ffffff;
}

.cont {
    font-family: var(--coming);
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.017em;
    color: #ffffff;
    margin-left: 0.3em;
}
.date,
.contact {
    font-family: var(--title);
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.032em;
    color: #ffffff;
}

.date > hr {
    width: 100%;
    height: 5px;
    margin-left: 0px;
    background: linear-gradient(to left, var(--linearg1), var(--linearg2));
    border: none;
}
.contact > hr {
    width: 100%;
    height: 5px;
    margin-left: 0px;
    background: linear-gradient(to left, var(--linearg1), var(--linearg2));
    border: none;
}

@media (max-width: 1200px) {
    .Evecont {
        align-items: center;
    }
    .hdn1,
    .hdn2,
    .desc,
    .contact {
        text-align: center;
    }
    .Evecont > p {
        padding-right: 0px;
    }
}

@media (max-width: 800px) {
    .hdn1 {
        font-size: 50px;
    }
    .hdn2 {
        font-size: 18px;
    }
    .desc,
    .cont {
        font-size: 18px;
    }
    .date,
    .contact {
        font-size: 25px;
    }
}

@media (max-width: 565px) {
    .hdn1 {
        font-size: 45px;
    }
    .hdn2 {
        font-size: 17px;
    }
    .desc,
    .cont {
        font-size: 17px;
    }
    .date,
    .contact {
        font-size: 23px;
    }
}

@media (max-width: 350px) {
    .hdn1 {
        font-size: 40px;
    }
    .hdn2 {
        font-size: 15px;
    }
    .desc,
    .cont {
        font-size: 15px;
    }
    .date,
    .contact {
        font-size: 19px;
    }

    .date > hr {
        height: 3px;
    }
}
