@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Montserrat&display=swap');
.container {
    justify-self: flex-start;
    padding-left: 2%;
    padding-top: 8.5%;
    display: grid;
    grid-template-columns: 66% 34%;
}
.Heading {
    color: var(--white);
}
.Heading h1 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 6.25rem;
    font-weight: 400;
    letter-spacing: -3px;
    margin-bottom: 0px;
}
.Heading p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.75rem;
    padding-left: 0.25em;
    width: 80%;
}
.image img {
    width: 22.5rem;
    height: 24rem;
    object-fit: cover;
}
.image {
    margin-top: 15%;
}
@media (max-width: 1200px) {
    .container {
        grid-template-columns: 50% 50%;
        margin-top:  10%;
        justify-items: center;
        align-items: center;
    }
}
@media (max-width: 992px) {
    .container
    {
        margin-top: 10%;
    }
    .Heading h1 {
        font-size: 50px;
    }
    .Heading p {
        width: 100%;
        font-size: 18px;
    }
    .image img {
        width: 18rem;
        height: 19.2rem;
    }
}
@media (max-width: 680px) {
    .container {
        grid-template-columns: 100%;
        margin-top: 15%;
        justify-items: center;
        align-items: center;
        text-align: center;
    }
    .image {
        display: flex;
        padding: 0px;
    }
    .Heading h1 {
        font-size: 45px;
    }
    .Heading p {
        width: 100%;
        font-size: 17px;
    }
    .image img {
        width: 16rem;
        height: 17.2rem;
    }
}

@media (max-width: 350px){
    .Heading h1{
        font-size: 40px;
    }
    .Heading p{
        width: 100%;
        font-size: 15px;
    }
    .image img {
        width: 14rem;
        height: 16rem;
    }
}
