.prizesDiv {
    background: rgb(255, 237, 197);
    width: 100%;
    background: linear-gradient(
        180deg,
        #ffcda1 0%,
        #ffffff 45%
    );
}
.prizesRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 4em;
    column-gap: 5em;
    margin-left: calc(4.5em + 5vw);
    margin-right: calc(4.5em + 5vw);
}
.prizeH2Stroke {
    font-family: var(--title);
    text-align: center;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0.6em;
    font-size: calc(5vw + 4vh + 2vmin);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
    color: #ffd8b6;
    letter-spacing: 1.5px;
}

.prizeH2 {
    font-family: var(--title);
    text-align: center;
    font-size: calc(2vw + 3vh + 2vmin);
    font-style: normal;
    margin-top: 5vw;
    font-weight: normal;
    color: var(--black); /* Will override color (regardless of order) */
    letter-spacing: -0.032em;
}

.prizeH2Margin {
    margin-top: 12vw;
}

.prizesMargin {
    margin-bottom: 80px;
}

.prizeH3 {
    font-family: var(--title);
    text-align: center;
    font-size: calc(1.5vw + 1vh + 2vmin);
    padding: 0 0.2em;
    margin-top: 5vw;
    font-style: normal;
    font-weight: normal;
    color: var(--black); /* Will override color (regardless of order) */
}
.prizesImg {
    margin-left: 3vw;
    margin-right: 3vw;
    border-radius: 12px;
}

.prizesLabel {
    font-family: var(--title);
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    color: var(--black);
}

.prizesDesc {
    margin-inline: 0.25em;
    width: 13em;
    font-family: var(--title);
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: normal;
    color: var(--black);
}

@media screen and (max-width: 320px) {
    .prizesLabel{
        font-size: 1.2rem;
    }
    .prizesDesc{
        font-size: 1.2rem;
    }
}
