/* This file styles the 'Our Sponsors' section of the Sponsor component */

.sponsorRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 3.5em;
    column-gap: 5em;
    margin-top: calc(8em - 18vh); /* Spaces the logos from the title above */
    margin-left: calc(3em + 4.5vw);
    margin-right: calc(3em + 4.5vw);
}

.sponsorH2 {
    font-family: var(--title);
    text-align: center;
    font-size: calc(2vw + 3vh + 2vmin);
    font-style: normal;
    margin-top: 4vw;
    margin-bottom: calc(8vh + 2vw);
    font-weight: normal;
    color: var(--black); /* Will override color (regardless of order) */
    letter-spacing: -0.032em;
}

/* Sponsor H3 is for the tier list headings (Diamond, Gold, Bronze) */

.sponsorH3 {
    font-family: var(--title);
    text-align: center;
    font-size: calc(0.85vw + 2.5vh + 2.5vmin);
    font-style: normal;
    padding: 0.3rem 0.4em 0.175em 0.4em;
    font-weight: normal;
    color: var(--black); /* Will override color (regardless of order) */
    text-shadow: 0.5px 1px 3px #00000080;
    margin: 0;
}

#Ruby { /* Specifically for Ruby */
    padding: 0.3rem 0.4em 0.25em 0.4em;
}

#Learn { /* Specifically for Learning Partners */
    padding: 0.3rem 0.4em 0.25em 0.4em;
}

.backPill{
    width:fit-content;
    margin: 4em auto 5em auto;
    border-radius: 500px;
    background-color: #ffffff75;
    border: 3px solid #ffffffe9;
}

.sponsorMargin {
    margin-bottom: 80px;
}

.sponsorImg {
    margin-left: 3vw;
    margin-right: 3vw;
}

.sponsorLabel {
    font-family: var(--title);
    width: 15ch;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    color: var(--black);
    text-decoration: 3px underline transparent;
    transition: text-decoration 250ms ease-in-out;
}

.sponsorLabel:hover {
    text-decoration: 3px underline #8c58fc;
}

/* These min-device-height queries are to fix the iPad devices backPill margin issues (Pro, Mini, Normal) */
@media screen and (min-device-height: 930px) {
    .backPill {
        margin: 5vw auto 8em auto;
    }
}

@media screen and (min-device-height: 1200px) {
    .backPill {
        margin: 5vw auto 12em auto;
    }
    .sponsorRow {
        column-gap: 8em;
    }
}

@media screen and (max-width: 415px) {
    .sponsorRow {
        margin-top: calc(8em - 18vh);
        row-gap: 2em;
    }
    .sponsorH3 {
        font-size: calc(0.85vw + 3vh + 3vmin);
    }
    /* Stopping bottom Margin being too much on iP 6/6s and too less on iP X/Xs */
    .backPill {
        margin: 2.25em auto 4.25em auto;
    }
    #Learn {
        font-size: calc(1.2vw + 2.5vh + 3vmin);
    }
}

@media screen and (max-width: 360px) {
    .sponsorLabel {
        font-size: 1.35rem;
    }
    .sponsorH3 {
        font-size: calc(0.85vw + 3.5vh + 3vmin);
    }
    #Learn {
        font-size: calc(0.85vw + 2.5vh + 3vmin);
    }
    .backPill {
        margin: 1.5em auto 2em auto;
    }
}
