.sponsorDiv {
  background: rgb(255,237,197);
  background: linear-gradient(180deg, rgba(255,237,197,1) 0%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 100%);
  width: 100%;
}
.sponsorRow {
  display: flex;
  justify-content: space-evenly;
}
.prizeH2Stroke {
  font-family: var(--title);
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 7rem;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
        2px 2px 0 #000;
  color: var(--white);
  
  }
  
  .prizeH2 {
    font-family: var(--title);
    text-align: center;
    font-size: 6vw;
    font-style: normal;
    margin-top: 5vw;
    font-weight: normal;
    -webkit-text-fill-color: var(--black); /* Will override color (regardless of order) */
    letter-spacing: -0.032em;
  }
  
  .prizeH2Margin {
    margin-top: 12vw;
  }
  
  .sponsorMargin {
    margin-bottom: 80px;
  }
  
  
  .prizeH3 {
    font-family: var(--title);
    text-align: center;
    font-size: 3.5vw;
    margin-top: 5vw;
    font-style: normal;
    font-weight: normal;
    -webkit-text-fill-color: var(--black); /* Will override color (regardless of order) */
  }
  .sponsorImg {
    margin-left: 3vw;
    margin-right: 3vw;
  }
  
  .sponsorLabel {
    font-family: var(--title);
    text-align: center;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: normal;
    -webkit-text-fill-color:  var(--black);
  }